body {
    font-family: 'made_tommylight', Arial, sans-serif;
    color: #00233c;
}

header img{
max-height: 65vh;
}

.banner { 
  background-image: url(./pics/banner.png);
}

/* navbar */
nav, .dropdown-menu, .btn, nav a {
    background-color: #012169;  
    color: white!important;
    transition: all 0.3s;
}

.nav-link:focus {
outline: none;
}

nav a:hover {
  color: rgb(243, 217, 158) !important;
}


.textSection { 
  max-width: 1000px;
}


/* buttons */
.btn { 
	border-radius: 24px;
}

.btn:hover {
  color: rgb(243, 217, 158) !important;
  padding: 20px;
  padding-right: 10px;
  padding-left: 10px;
  z-index: 2;
  transition: all 0.3s;
}

.btn:hover {
  border-radius: 50%;
  z-index: 2;
}
.btn:hover::before {
  background-color: #012169;
  border-radius: 50%;
  width: 60%;
  height: 60%;
  transition: all 0.3s;
}
.btn:hover::after {
  background-color: #012169;
  border-radius: 50%;
  width: 60%;
  height: 60%;
  transition: all 0.3s;
}
.btn::before {
  position: absolute;
  bottom: 67%;
  right: 65%;
  content: "";
  transition: all 0.3s;
}
.btn::after {
  position: absolute;
  bottom: 67%;
  right: -20%;
  content: "";
  transition: all 0.3s;
}

.dropdown-item:hover {
    background-color: #012169;  
}


/* sizes */
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}


/* pictures */
.cardSection {
    background-color: rgb(245, 251, 252);
}

.picText {
    position: absolute;
    top: 40%;
    color: black;
    text-align: center;
    background-color: rgba(244, 217, 158, 0.5);
}

img {
    width: 100%;
}

.myWidth {
    max-width: 1500px;
}

.disney1 { 
  background-image: url(./pics/disney1.png);
}


/* picture shapes */
.dodeca, .dodeca div {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-radius: 45%;
  }
  .dodeca {
    transform: rotate(120deg);
  }
  .dode1 {
    transform: rotate(-60deg);
  }
  .dode2 {
    transform: rotate(-60deg);
    vertical-align: center;
  }
  

/* wave animation */

  .transition {
    position:relative;
    text-align:center;
    color: white;
    background-position: center;
    background-size: cover;
  }
  
  .inner-transition {
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
  }
  
  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  /* Animation */ 
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
  }


  .castleCircle { 
    position: relative;
    bottom: -60px;
    width: 160px;
    height: 160px;
    background-color: #012169;
    border: 4px solid white;
    border-radius: 50%;
    overflow: hidden;
  }